<p id="gift_name">{{title}}</p>
<img src="{{image}}" id="gift_image"></img>
<p id="gift_price">{{price}}</p>
<a href="{{link}}">Link to Amazon</a>
<button class="btn btn-primary btn-lg" id="retry">Retry</button>
<div class="hidden_info" style="display: none">
	<p id="hidden_result">{{result}}</p>
	<p id="hidden_money">{{money}}</p>
	<p id="hidden_searchindices">{{searchindices}}</p>
</div>